<div class="container">
  <div class="container-inner inner-sm clearfix">
  <h1>Wantランキング</h1>
    <div class="image">
      <div class="img-wrap">
        <ol>
        <% @wants.each do |item| %>
          <h2><li><%= item.title %></li></h2>
          <% if item.large_image.present? %>
            <%= image_tag(item.large_image, alt: item.title) %>
          <% else %>
            <%= image_tag("no-image.png", alt: item.title) %>
          <% end %>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>